body{
    background-color: black;
}

h1{
    color: white;
}

p{
    color: grey;
}

#draw{
    background-color: white;
    height: 320px;
}

#inner{
    margin-top: 16px;

}

.draw{
    min-height: 320px;
}

#btn{
    position: absolute;
    bottom: 0px;
    margin: 8px;
    z-index: 99;
}

#Content {
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow:auto;
    height:100%;
	width: 100%;
	background-color: black;
}
.foot{
	font-size: 10px;
	font-weight: lighter;
	color: #464a4e;
}

#coor-a {
    z-index: 99;
}